.form_forgotPassword_header{
    text-align: center;
}

.form_userEmail_container, .form_otp_container, .form_setPassword_container {
    padding: 10px;
}

.form_newPassword_container, .form_confirmPassword_container {
    padding: 5px;
}

.form_userEmail_label, .form_otp_label,
.form_newPassword_label, .form_confirmPassword_label {
    font-size: 16px;
}

.form_userEmail_input, .form_otp_input, .form_newPassword_input, .form_confirmPassword_input {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_userEmail_input input{
    border: none;
    outline: none;
}

.form_otp_input input {
    border: none;
    outline: none;
}

.form_otp_container .resend_otp {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.form_otp_container .resend_otp_link{
    display:none;
    text-decoration: none;
    color: black;
    outline: none;
}

.form_newPassword_input input {
    border: none;
    outline: none;
}

.form_confirmPassword_input input {
    border: none;
    outline: none;
}

#set_newPassword_hide {
    display: none;
}

#set_newPassword_show, #set_newPassword_hide {
    font-size: 12px;
    cursor: pointer;
}

.form_setPassword_btn {
    padding: 10px;
    text-align: center;
}

.form_setPassword_btn .button {
    border: none;
    width: 150px;
    height: 35px;
    font-size: 16px;
    color: white;
    background-color: black;
    border-radius: 20px;
    cursor: pointer;
}

.form_other_actions {
    text-align: center;
    padding: 5px;
}

.form_other_actions p {
    cursor: pointer;
    padding: 5px;
}