body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.board-layout{
    border: 2px solid darkgray;
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding: 10px;
}

.board-head-layout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.board-nav-section{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-nav-section a{
    text-decoration: none;
    color: black;
}

.board-logo{
    cursor: default;
}

.board-logo i{
    font-size: 22px;
    font-weight: bold;
}

.board-logo #logo-text{
    font-size: 25px;
    font-family: Broadway;
    font-weight: bold;
}

.board-nav span{
    font-size: 18px;
    font-weight: bold;
}

.board-nav:hover{
    color: darkgray;
}

.create-action #create-btn{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: black;
    font-size: 18px;
    color: white;    
    cursor: pointer;
}

.create-action .create-section{
    display: none;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
    position: absolute;    
}

.create-action .create-section a{
    padding: 10px;
    color: black;
    font-size: 16px;
    border: 1px solid black;
}

.board-topic-selection #board-topic-select{
    border: 2px solid black;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    height: 40px;
}

.board-profile{
    height: 50px;
}

.board-profile-notification{
    background: none;
    border: none;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.board-profile-notification_count{
    padding: 1.2px;
    width: 22px;
    background: darkgrey;
    border: 1px solid black;    
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

.board-profile-notification_count_text{
    font-size: 10px;
    font-weight: bold;
}

.board-profile-icon{
    border: 2px solid darkgray;
    border-radius: 50%;
    width: 50px;
    height: 90%;
    cursor: pointer;
}

.board-profile-icon .board-profile-name_icon{
    font-size: 18px;
}

.board-profile .board-profile-icon_dropdown, 
    .board-profile .board-profile-notification_dropdown{
    display: none;
    border: 1px solid darkgray;
    border-radius: 5px;
    position: absolute;
    background-color: white;
}

.board-profile-icon_dropdown a{
    border: 1px solid darkgray;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    color: dimgrey;
    font-size: 15px;
}

.board-profile-notification_dropdown p{
    padding: 10px;
    border: 1px solid darkgray;
}

.board-task-layout{
    padding: 15px;
    border: 1px solid darkgray;
    border-radius: 5px;
    height: 520px;
    display: flex;
    justify-content: space-evenly;
}

.board-task-column{
    border: 1px solid darkgray;
    width: 18%;
    background: lightgray;
}

.board-task-column .board-task-column_label{
    text-align: center;
    padding: 5px;
    font-weight: 600;
}

.board-task-column .board-task-list{
    border: 2px solid darkgray;
    height: 93.5%;
    background: white;
}

#board-task-onHold{
    background: darkgrey;
}

#board-task-onHold_list{
    background: lightgray;
}